body{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif !important;
}
.navbar{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
    height: 65px;
    align-items: center;
    justify-content: space-between;
    padding: 0 110px;
    z-index: 1000;
    box-shadow: 0 5px 10px rgba(82, 80, 80, 0.341); 
    background-color: white;
}
img{
    width: 160px;
    height: 50px;
}
.item, .itemS{
    color: #1e2562;
    font-weight: 700;
    padding: 20px 0;
}
.itemS{
    position: relative;
}
.menuS{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    width: 230px;
    opacity: 0;
    visibility: hidden;
    background-color: white;
    box-shadow: 0 5px 10px rgba(82, 80, 80, 0.341); 
}
.item3{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 0 10px 0;
    border-bottom: 1px dashed rgb(213, 212, 212);
    padding-left: 20px;
}
.item3:last-child {
    border-bottom: none;
}
.item3:hover{
    background-color: green;
    color: white;
}
.item:hover, .itemS:hover{
    color: #3cb95f;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 65px;
    left: 0;
    right: 0;
    width: 100%;
    padding: 30px 110px 40px 110px; 
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    z-index: 999;
}
.item:hover .menu, .menu:hover, .itemS:hover .menuS, .menuS:hover{
    opacity: 1;
    visibility: visible;
}
.col{
    display: flex;
    flex-direction: column; 
    gap: 12px;
    width: 18%;
}
.item1, .item2{
    color: black; 
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    margin-bottom: 5px;
}
.item1:hover, .item2:hover{
    color: #3cb95f; 
}
.cart, .search{
    width: 20px;
    height: 20px;
    fill: #1e2562; 
}
.cart:hover{
    fill: #3cb95f;
}
.banner-content{
    display: flex;
    flex-direction: column;
}
.banner {
    position: relative;
    width: 100%;
    margin-top: 65px; 
    height: calc(100vh - 65px);
    overflow: hidden;
}

.banner-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}
.banner-img img:last-child {
    display: none;
}
.banner-content {
    position: absolute;
    top: 25%;
    left: 110px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 10; 
}
.banner-content h2 {
    color: #1e2562;
    font-size: 45px;
    font-weight: 700;
}
.banner-content h2 span {
    position: relative;
    display: inline-block;
}
.banner-content h2 span::before {
    content: "";
    position: absolute;
    top: -60px; 
    left: -20px; 
    width: 62px;
    height: 40px;
    background-image: url('./icon_leaf.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.text{
    color: #1e2562;
    font-size: 45px;
    font-weight: 700;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 17px;
    gap: 20px;
    background-color: #e00c0c;
    color: white;
    padding: 12px 25px;
    border-radius: 50px;
    width: fit-content;
}
.btn:hover{
    box-shadow: 0 8px 20px rgb(227, 176, 176);
}
.icon-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 100%;
    width: 40px;
    height: 40px;
}
.icon-circle i{
    color: black;
    font-size: 17px;
}
.highlight, .sol{
    margin: 0 110px;
}
.cnt h2{
    font-size: 40px;
    font-weight: 700;
    color: #1e2562;
}
.cnt p{
    color: #1e2562;
    font-size: 20px;
    padding-bottom: 20px;
}
.box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.box1{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.box1 img{
    width: 400px;
    height: 400px;
    transition: transform 0.5s ease;
    object-fit: cover;
}
.box1:hover img{
    transform: scale(1.05);
}
.box1:hover svg{
    transform: translateX(5px);
}
.row1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    padding: 10px 5px;
}
.row1 a{
    text-decoration: none;
    color: #1e2562;
    font-size: 24px;
    font-weight: 600;
}
.row1 svg{
    transition: transform 0.5s ease;
}
.why{
    width: 100%;
    background-color: #f7f8f9;
}
.content{
    padding: 60px 110px;
}
.trademark{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}
.trm-right{
    display: flex;
    gap: 50px;
}
.trm-right img{
    width: 300px;
    height: 300px;
}
.trm-left h3{
    font-size: 30px;
    font-weight: 600;
    color: #1e2562;
}
.trm-left p, .box-row1 p{
    font-size: 20px;
    color: #1e2562;
}
.text-right{
    font-size: 30px;
    font-weight: 700;
    color: #1e2562;
    margin-top: 100px;
}
.box-row{
    display: flex;
    gap: 30px;
}
.box-row1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.box-row1 img{
    width: 600px;
    height: 500px;
    object-fit: cover;
}
.box-row1 a{
    font-size: 30px;
    font-weight: 600;
    color: #1e2562;
    text-decoration: none;
}
.connect{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.connect img{
    width: 120%;
    height: 100%;
    object-fit: cover; 
    display: block;
    object-position: left center;
    transform: translateX(-200px);
}
.connect-text{
    position: absolute;
    top: 100px;
    left: 110px;
}
.connect-text h2, .connect-text p{
    color: white;
}
.sol .cnt,.sol .cnt h2{
    margin: 50px 0;
}
.sol{
    position: relative;
    margin: 0 110px;
}
.slider-box{
    width: 100%;
}
.slider-box .box1{
    padding: 0 15px;
    display: flex;
    flex-direction: column;
}
.slider-box .box1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider-box .row1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 5px;
}
.custom-arrow{
    position: absolute;
    top: 60%;
    width: 45px;
    height: 45px;
    background-color: #caced1;
    color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transition: transform 0.3s ease;
}
.sol:hover .custom-arrow{
    opacity: 1;
    visibility: visible;
    transform: translateX(30%);
}
.pre-arrow{
    left: -22px;
}
.next-arrow {
    right: -22px;
}