body{
    background-color: rgb(82, 80, 80);
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    width: 100%;
    height: 100px;
}
button{
    position: relative;
    color: white;
    text-decoration: none;
    border: none;
    background: none;
    margin: 20px;
    padding: 10px;
    font-weight: 600;

}
button.nut:hover::after {
    position: absolute;
    content: "";
    left: 0;
    top: 150%;
    background-color: aqua;
    width: 100%;
    height: 3px;
}
button:hover{
    color: rgb(204, 204, 114);
    background-color: rgb(131, 130, 128);
    border-radius: 5px;
}
.icon1{
    width: 20px;
    height: 20px;
    margin-bottom: -10px;
    padding: 10px;
    border-radius: 10px;
    fill: white;
    background-color: rgb(71, 71, 71);
}
.icon2{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    fill: white;
}
.white{
    fill: white;
    margin-left: 30px;
    position: relative;
    margin-right: 40px;
}
.white:hover{
    fill: red;
}
.mini{
    position: absolute;
    top: 40px;
    left: 120px;
}
.mini:hover{
    fill: red;
}
.tintuc{
    position: relative;
}
.tintuc:hover .item{
    position: absolute;
    left: 0;
    width: 200px;
    height: 300px;
    opacity: 1;
}
a{
    display: block;
    text-decoration: none;
    margin-top: 20px;
    color: rgb(141, 143, 145);
    font-size: 15px;
    text-align: left;
    padding-left: 20px;
}
.item{
    display: flex;
    position: relative;
    flex-direction: column;
    opacity: 0;
    background-color: rgb(94, 96, 98);
    position: absolute;
    top: 55px;
    border-top: 4px solid aqua ;
} 

a:hover {
    color: white;
    background-color: rgb(60, 74, 87);
    border-radius: 20px;
}
.muiten{
    width: 12px;
    height: 12px;
}
button.play{
    text-align: center;
    color: black;
    background-color: rgb(88, 169, 206);
    border-radius: 20px;
    padding: 15px;
}
button.play:hover{
    color: antiquewhite;
}
